.Buildtools{
    width: 100%;
    background-color: darkkhaki;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 2px #ccaa11;
    margin: auto;
    padding: 10px 0;
}